{% extends 'base.html' %}

{% block content %}

<h1>About SW-inder</h1>
<p> Its hard not feel lonely no matter what galaxy you're in. Modern problems require modern solutions. Nothing has been done like this. Thats what we chose to create here. What if we made an app where distance wasn't an issue. If matches could be made across the galaxy. Well, here you have it...SW-inder. No one in the universe should be lonely! </p>
<img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Ftenor.com%2Fview%2Fyoda-luke-skywalker-star-wars-eyes-closed-gif-16207222&psig=AOvVaw35RmyvNl6O5kPSHyFi9SfC&ust=1669158219685000&source=images&cd=vfe&ved=0CA4QjRxqFwoTCKCN-IaxwPsCFQAAAAAdAAAAABAE.gif" alt="">
<img src="https://media.tenor.com/nm_FQBDAVZcAAAAd/yoda-luke-skywalker.gif" width='500px' alt="">
{% endblock %}