{% extends 'base.html' %}

{% block content %}

<h1>Find Your Match!</h1>


<section id="index">
  <div class="card z-depth-5">
      <div class="card-image waves-effect waves-block waves-light">
              <img width="400px" height="600px" class="activator" src="">
          </a>
      </div>
      <div class="card-content deep-purple lighten-4">
          <span class="card-title activator white-text text-darken-4">
            {{ name }} <br>
            Species: {{ species_name }} <br>
            Hair Color: {{ hair_color }} <br>
            Gender: {{ gender }} <br>
            Homeworld: {{ homeworld_name }}

      </div>
  </div>
  </section>


{%  endblock %}