<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <nav>
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'about' %}">About</a>
    {% if user.is_authenticated %}
    <a href="{% url 'interests' %}">Interests</a>
    <a href="{% url 'logout' %}">Log Out</a>
    {% else %}
    <a href="{% url 'signup' %}">Sign Up</a>
    <a href="{% url 'login' %}">Login !!!</a>
    {% endif %}
  </nav>
  <main>
    {% block content%}
    {% endblock %}
  </main>
  <footer>
    <div>All rights reserved</div>
  </footer>
</body>
</html>