{% extends 'base.html' %}

{% block content %}

<section class="section section-hero">
  <h1 class="h1 hero-title"> SW-inder</h1>
  <div class="hero-img-wrapper">
    <img width="1000" height="450px" src="https://imgur.com/Xyd8msm.jpeg" alt="">
    <div class="h1 hero-title-clone">
      SW-inder
    </div>
  </div>
</section>
<section class="section section-text">
  <div>
    <h2> About <span class="SW">SW</span>-inder!</h2>
    <p>Its hard not feel lonely no matter what galaxy you're in. Modern problems require modern solutions. Nothing has
      been done like this. Thats what we chose to create here. What if we made an app where distance wasn't an issue. If
      matches could be made across the galaxy. Well, here you have it...SW-inder. No one in the universe should be
      lonely! </p>
    <p>Scan the galaxy for the perfect person for you. Or wookie</p>
  </div>
</section>
<section class="section section-last">
</section>
<footer class="page-footer">

</footer>



{% endblock %}