{% extends 'base.html' %}

{% block content %}

<section class="section section-hero">
  <h1 class="h1 hero-title"> SW-inder</h1>
  <div class="hero-img-wrapper">
    <img width="1000" height="400px" src="https://imgur.com/Xyd8msm.jpeg" alt="">
    <div class="h1 hero-title-clone">
      SW-inder
    </div>
  </div>
</section>
<section class="section section-text">
  <div>
    <h2> <span class="SW">SW</span>-inder!</h2>
    <p>Love shouldnt be difficult to gain.</p>
    <p>SW-inder opens limitless possibilites and species and worlds to find it</p>
    <p>Dont settle for earth people and earth apps</p>
    <p>Scan the galaxy for the perfect person for you. Or wookie</p>
  </div>
</section>
<section class="section section-last">
</section>
<footer class="page-footer">
    
</footer>



{% endblock %}
